<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Weather app</title>
</head>
<body>
    <div class="weather">
        <h2>The temperature in <%= query %> is <%= temp %> degrees celecius</h2>
        <p>The weather is currently <%= description %></p>
        <img src="<%= iconUrl %>">
    </div>
</body>
</html>